<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ path('homepage') }}">SymBNB</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('homepage') }}">
                    Accueil
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('ads_index') }}">
                    Annonces
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if app.user %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="accountDropdownLink" href="#">
                        <img class="avatar avatar-mini" src="{{ app.user.picture }}" alt="Avatar de {{ app.user.fullName }}"> {{ app.user.fullName }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="accountDropdownLink">
                        <a class="dropdown-item" href="{{ path('ads_create') }}">Créer une annonce</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('account_index') }}">Mon compte</a>
                        <a class="dropdown-item" href="{{ path('account_profile') }}">Modifier mon compte</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('account_logout') }}">Déconnexion</a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('account_login') }}">Connexion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('account_register') }}">Inscription</a>
                </li>
            {% endif %}   
        </ul>
    </div>
</nav>

{% for label, messages in app.flashes %}
    <div class="container">
        <div class="alert alert-{{ label }}">
            {% for message in messages %}
                <p>{{ message | raw }}</p>
            {% endfor %}
        </div>
    </div>
{% endfor %}