{% extends 'base.html.twig' %}

{% block title %}Réservation n° {{ booking.id }}{% endblock %}

{% block body %}

    {% set ad = booking.ad %}
    {% set author = booking.ad.author %}

    <div class="container">
        <h1 class="h3">Votre réservation (n° {{ booking.id }})</h1>

        {% if app.request.query.get('withSuccessAlert') %}
            <div class="alert alert-success">
                <h4 class="alert-heading">Félicitation !</h4>
                <p>
                    Votre réservation auprès de
                    <strong>
                        <a href="{{ path('user_show', { slug: author.slug }) }}">{{ author.fullName }}</a>
                    </strong>
                    pour l'annonce
                    <strong>
                        <a href="{{ path('ads_show', { slug: ad.slug }) }}">{{ ad.title }}</a>
                    </strong>
                    a bien été prise en compte !
                </p>
            </div>
        
        {% endif %}

        <div class="row">
            <div class="col">
                <div class="alert alert-light">
                    <h2 class="h4">Détails :</h2>
                    <dl class="row">
                        <dt class="col-md-4">Numéro :</dt>
                        <dd class="col-md-8">{{ booking.id }}</dd>
                        <dt class="col-md-4">Date d'arrivée :</dt>
                        <dd class="col-md-8">{{ booking.startDate | date('d/m/Y') }}</dd>
                        <dt class="col-md-4">Date de départ :</dt>
                        <dd class="col-md-8">{{ booking.endDate | date('d/m/Y') }}</dd>
                        <dt class="col-md-4">Nombre de nuits :</dt>
                        <dd class="col-md-8">{{ booking.duration }}</dd>
                        <dt class="col-md-4">Montant total :</dt>
                        <dd class="col-md-8">{{ booking.amount }}&nbsp;&euro;</dd>
                        <dt class="col-md-4">Commentaire :</dt>
                        <dd class="col-md-8">{{ booking.comment }}</dd>
                    </dl>
                    <hr>
                    <h2 class="h4 alert-heading">Votre hôte :</h2>
                    <div class="mb-3 row">
                        <div class="col-3">
                            <img class="avatar avatar-medium" src="{{ author.picture }}" alt="Avatar de {{ author.fullName }}">
                        </div>
                        <div class="col-9">
                            <h3 class="h5">
                                <a href="{{ path('user_show', { slug: author.slug }) }}">{{ author.fullName }}</a>
                            </h3>
                            <span class="badge badge-primary">{{ author.ads | length }} annonces</span>
                        </div>
                    </div>
                    {{ author.description | raw }}
                    <a class="btn btn-primary" href="{{ path('user_show', { slug: author.slug }) }}">Plus d'info sur {{ author.firstName }}</a>
                </div>
            </div>
            <div class="col">
                <div class="alert alert-light">
                    <h2 class="h4 alert-heading">Votre hébergement :</h2>
                    <h3 class="h5">
                        <a href="{{ path('ads_show', { slug: ad.slug }) }}">{{ ad.title }}</a>
                    </h3>
                    <img class="my-3 img-fluid" src="{{ ad.coverImage }}" alt="Image de {{ ad.title }}">
                    {{ ad.content | raw }}
                    <a class="btn btn-primary" href="{{ path('ads_show', { slug: ad.slug }) }}">Plus d'informations</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
