{% extends 'admin/base.html.twig' %}

{% block title %}Modification du commentaire n°&nbsp;{{ comment.id }}{% endblock %}


{% block body %}
        <div class="container">
            <h1 class="my-3 h2">Modification du commentaire n°&nbsp;{{ comment.id }}</h1>
            <div class="alert bg-light">
                <strong>Annonce liée : </strong>{{ comment.ad.title }}<br> 
                <strong>Auteur : </strong>{{ comment.author.fullName }}<br> 
                <strong>Date de création : </strong>{{ comment.createdAt | date('d/m/Y') }}<br> 
                <strong>Note donnée : </strong>{{ comment.rating }}<br> 
            </div>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="mt-3 btn btn-primary" type="submit">
                <i class="fas fa-check"></i>
                Enregister les modifications
            </button>
            {{ form_end(form) }}
        </div>
{% endblock %}