{% set url = path('ads_show', {slug: ad.slug}) %}

<div class="col-md-4">
    <div class="mb-3 card bg-light">
        <div class="card-header text-center">
            {{ ad.rooms }} chambres, <strong>{{ ad.price }}&euro; / nuit</strong> <br>
            <small>Pas encore noté</small>
        </div> {# fin card-header #}
        <a href="{{ url }}">
            <img src="{{ ad.coverImage }}" alt="Image de l'appartement" style="height: 200px; width: 100%; display:block;">
        </a>
        <div class="card-body">
            <h4 class="card-title">
            <a href="{{ url }}">
                {{ ad.title }}
            </a>
            </h4>
            <p class="card-text">
                {{ ad.introduction }}
            </p>
            <a class="btn btn-secondary" href="{{ url }}">En savoir plus</a>
        </div> {# fin card-body #}
    </div> {# fin card #}
</div> {# fin col-md-4 #}