{% set url = path('ads_show', {slug: ad.slug}) %}

<div class="col-md-6">
    <div class="mb-3 card bg-light">
        <div class="card-header text-center">
            {{ ad.rooms }} chambres, <strong>{{ ad.price }}&euro;&nbsp;/&nbsp;nuit</strong> <br>
            {% if ad.comments | length > 0 %}
                <small>{{ include("partials/rating.html.twig", { rating : ad.AverageRating }) }}</small>
            {% else %}
                <small>Pas encore noté</small>
            {% endif %}
        </div> {# fin card-header #}
        <a href="{{ url }}">
            <img src="{{ ad.coverImage }}" alt="Image de l'appartement" style="height: 200px; width: 100%; display:block;">
        </a>
        <div class="card-body">
            <h4 class="card-title">
            <a href="{{ url }}">
                {{ ad.title }}
            </a>
            </h4>
            <p class="card-text">
                {{ ad.introduction }}
            </p>
            {% if app.user is same as ad.author %}
                <a class="btn btn-primary" href="{{ path('ads_edit', {slug: ad.slug}) }}">Modifier l'annonce</a>
                <a class="btn btn-danger" href="{{ path('ads_delete', {slug: ad.slug}) }}" onclick="return confirm(`Êtes-vous sûr de vouloir supprimer l'annonce «&nbsp;{{ ad.title }}&nbsp;» ?`)">Supprimer l'annonce</a>
            {% else %}
                <a class="btn btn-secondary" href="{{ url }}">En savoir plus</a>
            {% endif %}
        </div> {# fin card-body #}
    </div> {# fin card #}
</div> {# fin col-md-4 #}