{% extends 'base.html.twig' %}

{% block title %}Modification de l'annonce {{ ad.title }}{% endblock %}

{% block javascripts %}
   {{ encore_entry_script_tags('ads') }}
{% endblock %}

{% form_theme form 'ad/_collection.html.twig' %}

{% block body %}
    <div class="container">
        <div class="mb-3 ad-title" style="background-image: url({{ ad.coverImage }})">
            <h1 class="my-3 h2">Modifier l'annonce «&nbsp;{{ ad.title }}&nbsp;»</h1>
        </div>

        {{ form_start(form)}}

        {{ form_widget(form)}}

        <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>

        {{ form_end(form)}}
    </div>
{% endblock %}