{% extends 'base.html.twig' %}

{% block title %}Création d'une annonce{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/ads.js')}}"></script>
{% endblock %}

{# Note : « form_theme » permet de spécifier un thème pour un formulaire donné #}
{# Ici : le thème à utiliser est dans le fichier « 'ad/_collection.html.twig' » 
    et doit s'appliquer pour le formulaire « form »)  #}
{% form_theme form 'ad/_collection.html.twig' %}

{# « _self » = dans le fichier actuel #}
{# {% form_theme form _self %} #}
   
{% block body %}
    <div class="container">
        <h1 class="my-3 h2">Créer une nouvelle annonce</h1>

        {{ form_start(form)}}
        <div class="row">
            <div class="col">
                <div class="alert alert-light">
                    <h2>Information générales</h2>
                    <hr>
                    {{ form_row(form.title)}}
                    {{ form_row(form.price)}}
                    {{ form_row(form.rooms)}}
                </div>
                <div class="alert alert-light">
                    <h2>Détails de l'annonce</h2>
                    <hr>
                    {{ form_row(form.introduction)}}
                    {{ form_row(form.content)}}
                </div>
            </div>
            <div class="col">
                <div class="alert alert-light">
                    <h2>Images de l'annonce</h2>
                    <hr>
                    {{ form_row(form.coverImage)}}
                    {{ form_row(form.images)}}
                </div>
            </div>
        </div>

        {# ‼ « clearfix » règle le problème de 'flux' du « float-right » qui fait sortir le boutton du cadre ‼ #}
        <div class="alert alert-light clearfix">
        <h2 class="alert-heading">Sauvegarder mon annonce</h2>
            <p>Vous êtes sur le point de créer votre annonce. Félicitations !</p>
            <button type="submit" class="btn btn-primary float-right">
                <i class="fas fa-check"></i>
                Créer une nouvelle annonce
            </button>
        </div>

        {{ form_end(form)}}
    </div>
{% endblock %}