{% extends 'base.html.twig' %}

{% block title %}{{ ad.title }}{% endblock %}

{% block body %}
    <div class="ad-title" style="background-image: url({{ ad.coverImage }})">
        <div class="container">
            <h1 class="my-3">{{ ad.title }}</h1>
            <p>{{ ad.introduction }}</p>
            <p class="h2">
                <strong>{{ ad.rooms }} chambre(s)</strong> pour <strong>{{ ad.price | number_format(2, ',', ' ')  }}&nbsp;&euro;</strong> la nuit
            </p>
            {% if app.user is same as ad.author %}
                <a class="btn btn-secondary" href="{{ path('ads_edit', {slug: ad.slug}) }}">Modifier l'annonce</a>
                <a class="btn btn-danger" href="{{ path('ads_delete', {slug: ad.slug}) }}" onclick="return confirm(`Êtes-vous sûr de vouloir supprimer l'annonce «&nbsp;{{ ad.title }}&nbsp;» ?`)">Supprimer l'annonce</a>
            {% else %}
                <a class="btn btn-primary" href="{{ path('booking', {slug: ad.slug}) }}">Réserver</a>
            {% endif %}
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="mb-3 col-md-8">
                {{ ad.content | raw }}
                {% if ad.images | length > 0 %}
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            {% for image in ad.images %}
                                <li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index0 }}" class="{{ loop.first ? 'active' :''}}"></li>
                            {% endfor %}
                        </ol>
                        <div class="carousel-inner">
                            {% for image in ad.images %}
                                <div class="carousel-item {{ loop.first ? 'active' :''}}">
                                    <img class="d-block w-100" src="{{ image.url }}" alt="First slide">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>{{ ad.title }}</h5>
                                        <p>{{ image.caption }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                {% endif %}
                <hr>
                {% if ad.comments | length > 0 %}
                    <h2 class="mb-3">Commentaires de nos voyageurs :</h2>

                    <div class="alert alert-info">
                        <h4 class="alert-heading text-center">
                            <div class="row align-items-center">
                                <div class="col">
                                    Note globale donnée par nos voyageurs
                                </div>
                                <div class="col">
                                    {{ include("partials/rating.html.twig", { rating : ad.AverageRating }) }}
                                    <br>
                                    <small>(Calculée sur {{ ad.comments | length }} avis)</small>
                                </div>
                            </div>
                        </h4>

                    </div>

                    {% for comment in ad.comments %}
                        <div class="mb-3 py-3 px-3 bg-light rounded">
                            <strong>{{ comment.author.firstName }}</strong> a dit :
                            <p><blockquote>{{ comment.content }}</blockquote></p>
                            <strong>Note donnée :</strong>
                            {{ include("partials/rating.html.twig", {rating : comment.rating}) }}
                        </div> 
                    {% endfor %}
                {% else %}
                    <h2 class="h3">Il n'y a pas encore de commentaire pour cette annonce</h2>
                {% endif %}

            </div>
            <div class="col">
            {% set a = ad.author %}
                <div class="mb-3 row align-item-center">
                    <div class="col-3">
                        <a href="{{ path('user_show', {slug: a.slug }) }}">
                            <img class="avatar avatar-medium" src="{{ a.picture }}" alt="Avatar de {{ a.fullName }}">
                        </a>
                    </div>
                    <div class="col">
                        <a href="{{ path('user_show', {slug: a.slug }) }}">
                            <h3>{{ a.fullName }}</h3>
                        </a>
                        <span class="badge badge-primary">{{ a.ads | length }} annonces</span>
                    </div>
                </div>
                {{ a.description | raw }}
            </div>
        </div>
    </div>
{% endblock %}
